
#action_app {
    background-color: #090909;
    padding: 80px 0;
}
#action_app h2 {
    font-size: 45px;
    margin-bottom: 60px;
}
#action_app .action_flex {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    min-width: 140px;
}
#action_app .video_wrapper .environment-image {
    min-height: 350px;
    /*background: url('../images/a.png') no-repeat center center;*/
    background-size: contain;
    max-width: 650px;
    margin: 0 auto;
    position: relative;
}

#action_app .video_wrapper .environment-image img {
    width: 463px;
    position: absolute;
    left: 50%;
    transform: translateX(-51%);
    padding: 0 18px;
    top: 20px;
}
#action_app .noise-cancel-container {
    text-align: center;
    margin-top: 5px;
}
#action_app .noise-cancel-container .title {
    margin-bottom: 11px;
    font-size: 14px;
    color: #5D6683;
    font-weight: 700;
}
#action_app .noise-cancel-container .switch {
    display: inline-block;
    width: 56px;
    height: 25px;
    margin: 0 auto;
    padding: 3px;
    background: #5D6683;
    border-radius: 100px;
    overflow: hidden;
}
#action_app .noise-cancel-container .switch span {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    width: 80px;
    transition: margin-left 100ms ease;
}
#action_app .noise-cancel-container .switch span:before {
    content: "ON";
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 10px;
    color: #5D6683;
}
#action_app .noise-cancel-container .switch span:after {
    content: "OFF";
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 10px;
    color: #5D6683;
}
#action_app .noise-cancel-container .switch em {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #fff;
}
#action_app .noise-cancel-container .switch.on {
    background: #7ED53A;
}
#action_app .noise-cancel-container .switch.on span {
    margin-left: 0;
}
#action_app .noise-cancel-container .switch.off span {
    margin-left: -30px;
}
#action_app .play-button {
    width: 45px;
    height: 45px;
}
#action_app .play-button .hidden {
    display: none;
}
#action_app .play-button span {
    display: block;
    height: 45px;
    background-size: contain !important;
}
#action_app .play-button span#app-play-state {
    background: url('../images/play.svg') no-repeat center;
}
#action_app .play-button span#app-pause-state {
    background: url('../images/Paus.svg') no-repeat center;
}
#action_app .environment-image img {
    display: none;
}
#action_app .environment-image .opaque {
    display: block;
}


#action_app .settings .noise-cancel-container {
    display: inline-block;
}
/*#action_app .settings .play-visual-container {*/
/*    margin: 0 auto;*/
/*    width: 90%;*/
/*}*/
#action_app .settings .play-button {
    display: inline-block;
}

/*#action_app .settings {*/
/*    display: block;*/
/*    margin-top: 15px;*/
/*}*/

#action_app .settings {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
#action_app .play-visual-container {
    width: 80%;
}
#action_app .amplitudes-container {
    position: relative;
    width: 100%;
    height: 120px;
    margin-top: 15px;
}
#action_app .amplitudes-container:before,
#action_app .amplitudes-container:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
#action_app .amplitudes-container:before {
    background: #090909;
}
#action_app .amplitudes-container:after {
    background: url("../images/amplitudes.png") repeat-x;
}
#action_app .amplitudes-container .playing-progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    width: 0;
    transition: width 50ms;
    -webkit-transition: width 50ms;
    background: url("../images/amplitudesNap.png") repeat-x #090909;
}


#action_app ul li {
    font-size: 16px;
}


#action_app ul .selected {
    font-weight: bold;
}
#action_app ul .selected span {
    border-bottom: 2px solid rgba(13, 13, 16, 0.50);
    color: #f9f9f9;
}

#action_app ul li.selected span {
    border-bottom: 1px solid #FFF;
}


#action_app h2 {
    margin-bottom: 0;
}
#action_app ul {
    border-bottom: 0;
    margin: 0 !important;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    /* display: inline-block; */
}

#action_app ul {
    list-style: none;
    padding-bottom: 5px;
    margin: 50px 0 0 0;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    border-bottom: 2px solid #939393;
}

#action_app ul li {
    float: left;
    cursor: pointer;
    font-size: 15px;
    width: fit-content;
    display: table;
    white-space: nowrap;
    margin: 0 10px;
    padding: 7px;
    background-color: #090909;
    border-radius: 3px;
}
/*#action_app ul .selected span {*/
/*    border-bottom: 0 !important;*/
/*}*/
#action_app .video_wrapper .environment-image {
    max-width: 425px;
}
#action_app .video_wrapper .environment-image img {
    width: 320px;
    position: absolute;
    left: 50%;
    transform: translateX(-51%);
    padding: 0 18px;
    height: 180px;
    top: 70px;
}
/*#action_app .action_flex {*/
/*    justify-content: center;*/
/*    margin-top: 30px;*/
/*}*/
#action_app .noise-cancel-container {
    margin-left: 15px;
}
/*#action_app .amplitudes-container {*/
/*    margin-top: 0;*/
/*}*/

#action_app ul li span {
    color: #c11a36;
    border-bottom: 2px solid transparent;
    padding-bottom: 11px;
    transition: all 0.3s;
}


#action_app ul li {
    display: inline-block;
    float: left;
    cursor: pointer;
    font-size: 20px;
    padding-bottom: 3px;
}